/* TAG */

body {
  background-color: #1F083F;
  text-align: center;
  color: white;
  margin: 0;
  background: rgb(29,1,52);
  background: linear-gradient(208deg, rgba(29,1,52,1) 0%, rgba(39,17,71,1) 100%);
}

div {
  width: 450px;
  margin: auto;
}

img {
  max-width: 800px;
  margin: auto;
}

#bordaimg {
  border: 5px solid #FFD369;
  border-radius: 100%;
}

p {
  font-family: 'Assistant', sans-serif;
}

h1 {
  font-family: 'Smooch Sans', sans-serif;
  font-size: 4em;
  margin: 0 auto;
}

h2 {
  font-family: 'Smooch Sans', sans-serif;
}

h3 {
  font-family: 'Smooch Sans', sans-serif;
}

hr {
  width: 20%;
}


a:hover {
  border: 2px solid white;
  padding: 8px 18px;
}

/* CLASS */

.profilepic {
  width: 8em;
  margin: 20px auto;
}

.skill1 {
  text-align: left;
  max-width:100%;
  max-height:100%;
  margin: 100px auto;
}

.imgSkill1 {
  float: left;
  margin: auto 10px;
  height: 100%;
  display: block;
}

.botao {
  font-family: 'Smooch Sans', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  display: inline-block;
  margin: auto;
  background-color: #FFD369;
  padding: 10px 20px;
  color: #170929;
  border-radius: 10rem;
  filter: drop-shadow(0.5rem 0.5rem 0.5rem #271147);
  text-decoration: none;
}

.detalhe {
  width: 7rem;
  position: absolute;
  top: 0;
  left: 0;
}

#detalhevirado {
  transform: rotate(180deg);
  bottom: 0;
  right: 0;
  top: auto;
  left: auto;
}

.topCont {
  background-color: #271147;
  padding: 60px 0;
  width: auto;
}

.top1 {
  width: 50%;
  margin: auto;
  position: relative;
  padding: 40px 0 30px 0;
  min-width: 380px;
  max-width: 450px;
}

.topTitle {
  margin: 0 auto;
}


/* ID */
